@import '../variables';
@import '../mixins';

.section {
  display: flex;
  gap: 30px;

  background-color: $light;
}

.box {
  width: calc(100% - 421px);
}

.title {
  @include h2;

  margin-top: 36px;
  max-width: 668px;
}

.description {
  margin-top: 40px;
}

@media screen and (max-width: 1320px) {
  .section {
    flex-direction: column;
  }

  .box {
    width: auto;
  }
}
