@import '../variables';
@import '../mixins';

.button {
  @include main-button;
}

.primary {
  color: $light;
  background-color: $dark;

  &:hover,
  &:focus {
    background-color: $accent;
    color: $dark;
  }
}

.ghost {
  background: none;
  font-weight: 500;

  color: $dark;
  border: 1px solid rgba(18, 18, 18, 0.16);

  &:hover,
  &:focus {
    color: $accent;
    border-color: $accent;
  }
}

.light {
  color: $dark;
  background-color: $light;

  &:hover,
  &:focus {
    color: $light;
    background-color: $dark;
  }
}
