@import '../mixins';

.topBlock {
  display: flex;
  padding-bottom: 60px;
}

.title {
  @include h3;

  width: 122px;
}

.hr {
  width: calc(100% + 30px);
}

.bigText {
  max-width: 668px;
}

.bottomBlock {
  display: flex;

  & :nth-child(3) {
    margin-left: 106px;
  }
}

.bottomText {
  @include paragraphS;

  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 223px;
}

@media screen and (max-width: 880px) {
  .topBlock,
  .bottomBlock {
    flex-direction: column;
  }

  .bottomBlock {
    & :nth-child(3) {
      margin-left: 0;
      margin-top: 12px;
    }
  }

  .bottomText {
    gap: 0;
  }

  .title {
    margin-bottom: 20px;
  }
}
