@import '../mixins';
@import '../variables';

.footer {
  position: relative;
  margin-top: 86px;
  padding: 30px;
  height: calc(100vh - 66px);
}

.topBlock {
  display: flex;
}

.description {
  max-width: 283px;
  opacity: 0.4;
}

.list {
  display: flex;

  justify-content: space-between;
  margin-left: 91px;
  width: 100%;

  & :last-child {
    width: 90px;
  }
}

.listItem {
  width: 113px;

  @include paragraphS;

  & a {
    display: block;
  }

  & a:hover {
    color: $light;
  }
}

.title {
  margin-bottom: 16px;
}

.logo {
  margin-top: 320px;
}

.thinkseb {
  position: absolute;
  left: 30px;
  bottom: 30px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.copyright {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.copyrightAccent {
  opacity: 0.4;
}

@media screen and (max-width: 920px) {
  .footer {
    min-height: calc(100vh - 66px);
  }

  .topBlock {
    display: block;
  }

  .description {
    max-width: none;
  }

  .list {
    margin-top: 30px;
    margin-left: 0;
  }

  .thinkseb {
    margin-top: 24px;
    position: static;
  }
}

@media screen and (max-width: 640px) {
  .list {
    display: block;
  }

  .title {
    margin-top: 16px;
  }
}
