@import '../variables';
@import '../mixins';

.hero {
  position: relative;
  padding-top: calc(136px + 106px);
  min-height: 100vh;

  overflow-x: hidden;
}

.topBlock {
  display: flex;
}

.imageContainer {
  border-radius: 20px;

  overflow: hidden;
  max-width: 201px;
}

.image {
  border-radius: 20px;
}

.bottomBlock {
  display: flex;
  margin-top: 128px;
}

.titleBox {
  position: relative;
  display: inline-block;
}

.mainTitle {
  @include h1;

  // max-width: 894px;
  max-width: 910px;
  background-color: $grey;

  &::selection {
    background: $accent;
  }
  &::-moz-selection {
    background: $accent;
  }
}

.plusesGrid {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;

  transform: translate(48%, -60%);
}

.smallTitle {
  @include h3;
}

.smallTitle,
.description {
  width: 113px;
  margin-right: 25px;
}

.description {
  font-size: 12px;
  line-height: 16px;

  display: inline-block;
}

.button {
  margin-left: auto;
  align-self: end;
}

@media screen and (max-width: 1340px) {
  .topBlock,
  .bottomBlock {
    display: block;
  }

  .imageContainer,
  .titleBox {
    margin-top: 20px;
  }

  .button {
    margin-top: 30px;
    margin-right: auto;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    padding-top: 400px;
  }
}

@media screen and (max-width: 575px) {
  .hero {
    padding-top: 150px;
  }
}

@media screen and (max-width: 455px) {
  .button {
    margin-left: auto;
    margin-right: 0;
  }
}
