@import '../variables';
@import '../mixins';

.section {
  display: flex;
  gap: 30px;
  background-color: #e8e8e8;
}

.box {
  width: calc(100% - 421px);
}

.title {
  @include h3;

  margin-top: 36px;
  max-width: 668px;
}

@media screen and (max-width: $maxTablet) {
  .section {
    flex-direction: column;
  }
  .box {
    width: 100%;
  }
  .imageWithButton {
    order: 3;
    width: 100%;
    height: auto;
  }
}
