.h1 {
  font-size: 88px;
  font-weight: 500;
  line-height: 88px;
  letter-spacing: -0.88px;
  text-transform: uppercase;
}

.h2 {
  font-size: 62px;
  font-weight: 500;
  line-height: 68px;
  letter-spacing: -0.62px;
}

.h3 {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  opacity: 0.4;
}
