.section {
  width: 100%;
  padding: 30px;
  border-radius: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.numb {
  margin-right: auto;

  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
}
