@mixin main-button {
  padding: 12px;

  width: 223px;
  height: 90px;

  text-align: center;
  border: none;
  border-radius: 129px;

  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.24px;
  text-transform: uppercase;

  transition: all 0.4s;
}

@mixin h1 {
  font-size: 88px;
  font-weight: 500;
  line-height: 88px;
  letter-spacing: -0.88px;
  text-transform: uppercase;

  @media screen and (max-width: 455px) {
    font-size: 42px;
    line-height: 46px;
  }

  @media screen and (max-width: 640px) {
    font-size: 62px;
    line-height: 68px;
    letter-spacing: -0.62px;
  }
}

@mixin h2 {
  font-size: 62px;
  font-weight: 500;
  line-height: 68px;
  letter-spacing: -0.62px;

  @media screen and (max-width: 640px) {
    font-size: 42px;
    line-height: 48px;
    letter-spacing: -0.62px;
  }
}

@mixin h3 {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  opacity: 0.4;
}

@mixin paragraphS {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

@mixin paragraphM {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

@mixin transition {
  transition: all 0.4s;
}

@mixin cursor-default {
  cursor: url('/icons/cursor.svg'), default;
}

@mixin cursor-pointer {
  cursor: url('/icons/cursor-pointer.svg'), pointer;
}
