@import '../styles/variables';
@import '../styles/mixins';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @include paragraphM;

  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  color: $dark;
  background-color: $dark;

  overscroll-behavior: none;
  cursor: url('/icons/cursor.svg'), default;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  padding: 0;
  border: none;
  cursor: url('/icons/cursor-pointer.svg'), pointer;
}
